body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

.center-box {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  height: auto;
  width: 100%;
}

.famous-surface {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.question {
  background-color: #999999;
  color: #fff;
}

.questionmark {
  font-size: 8em;
  line-height: 1.1em;
}

.questiontext {
  line-height: 4em;
}

.answer {
  color: #336699;
  cursor: pointer;
}

.answer:hover {
  color: cornflowerblue;
}

.answer:nth-child(2n) {
  background-color: #F0F0F0;
}
