<fa-app class="full-screen">

  <fa-grid-layout fa-options="layoutOptions">
    <fa-view>
          <!-- Container modifier, which we're rotating over the y axis -->
          <fa-modifier fa-origin="[.5, .5]" fa-rotate-y="rotateY.get()">
            <!-- Front face -->
            <fa-surface fa-size="[true, true]" fa-color="'rgb(193,0,29)'">
                <div class="questionmark">?</div>
            </fa-surface>
          </fa-modifier>
    </fa-view>
    <fa-view>
      <fa-grid-layout fa-options="answersLayoutOptions">
        <fa-view ng-repeat="view in sequence">
          <fa-surface class="answer" fa-click="answer($event, view.id)">
            <div class="center-box" ng-bind="view.title"></div>
          </fa-surface>
        </fa-view>
      </fa-grid-layout>
    </fa-view>
  </fa-grid-layout>

</fa-app>
